.App {
  min-height: 100vh;
  background-color: #f2f2f2;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  #joke-txt {
    padding-left: 15%;
    padding-right: 15%;
  }

  #loading-jokes {
    display: flex;
    flex-direction: column;
    margin-right: 30%;
    margin-left: 30%;
    margin-top: 10px;
    justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  #loading-jokes {
    display: flex;
    flex-direction: column;
    padding-left: 15%;
    padding-right: 15%;
    margin-top: 10px;
  }
}

mark {
  background-color: #b2f5ea;
  white-space: nowrap;
  padding-inline-start: var(--chakra-space-1);
  padding-inline-end: var(--chakra-space-1);
  padding-top: var(--chakra-space-1);
  padding-bottom: var(--chakra-space-1);
  border-radius: var(--chakra-radii-full);
  font-weight: bold;
}

ul {
  list-style: none;
  margin: 10px;
  padding: 0;
  background: #f2f2f2;
  position: relative;
  width: 100%;
}

#joke-txt {
  background: #ffffff;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  margin: 8px 0;
  padding: 15px;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

h2 {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

p {
  font-weight: bold;
}

.categ-txt {
  font-weight: 400;
  padding-left: 10px;
}

.categ-p {
  padding-left: 20px;
}

@media screen and (min-width: 299px) {
  .btns-joke {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  .random-btn {
    margin-left: 20px;
  }

  .search-btn {
    margin-right: 20px;
  }
}

@media screen and (max-width: 298px) {
  .btns-joke {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  .search-btn {
    margin-bottom: 20px;
  }
}
