.App {
  min-height: 100vh;
  background-color: #f2f2f2;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  #joke-txt {
    padding-left: 15%;
    padding-right: 15%;
  }

  #loading-jokes {
    display: flex;
    flex-direction: column;
    margin-right: 30%;
    margin-left: 30%;
    margin-top: 10px;
    justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  #loading-jokes {
    display: flex;
    flex-direction: column;
    padding-left: 15%;
    padding-right: 15%;
    margin-top: 10px;
  }

  /* .body-radio-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
  } */
}

mark {
  background-color: #b2f5ea;
  white-space: nowrap;
  padding-inline-start: var(--chakra-space-1);
  padding-inline-end: var(--chakra-space-1);
  padding-top: var(--chakra-space-1);
  padding-bottom: var(--chakra-space-1);
  border-radius: var(--chakra-radii-full);
  font-weight: bold;
}

ul {
  list-style: none;
  margin: 10px;
  padding: 0;
  background: #f2f2f2;
  position: relative;
  width: 100%;
}

#joke-txt {
  background: #ffffff;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  margin: 8px 0;
  padding: 15px;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

h2 {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

p {
  font-weight: bold;
}

.categ-txt {
  font-weight: 400;
  padding-left: 10px;
}

.categ-p {
  padding-left: 20px;
}

@media screen and (min-width: 299px) {
  .btns-joke {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .search-btn {
    margin-right: 20px;
  }
}

@media screen and (max-width: 298px) {
  .btns-joke {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  .search-btn {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) {
  #random-joke-txt {
    padding-left: 15%;
    padding-right: 15%;
  }
}

@media screen and (min-width: 370px) {
  .body-radio-wrapper {
    display: grid;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    grid-template-columns: auto auto auto auto;
  }
}

@media screen and (max-width: 369px) {
  .body-radio-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
  }
}

#random-joke-txt {
  background: #ffffff;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  margin: 8px 0;
  padding: 15px;
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
}

label {
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.1;
}

.input-radio {
  margin-left: 15px;
}

.title {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.categ-btn {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.categ-btn2 {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.joke-list {
  font-weight: 400;
}

title-chuck {
  background-color: rgba(256, 256, 256, 0.03);
  background-image: -webkit-linear-gradient(top, #111, #0c0c0c);
  background-image: -moz-linear-gradient(top, #111, #0c0c0c);
  background-image: -ms-linear-gradient(top, #111, #0c0c0c);
  background-image: -o-linear-gradient(top, #111, #0c0c0c);
  font-size: 2em;
  font-family: "Amethysta", serif;
  text-align: center;
  line-height: 1.4em;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  white-space: nowrap;
}

h2 > span {
  color: #000;
  font-size: 5em;
  text-transform: lowercase;
  vertical-align: middle;
  letter-spacing: 0.2em;
  /* color: rgba(0, 0, 0, 0); */
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.fire {
  animation: animation 1s ease-in-out infinite alternate;
  -moz-animation: animation 1s ease-in-out infinite alternate;
  -webkit-animation: animation 1s ease-in-out infinite alternate;
  -o-animation: animation 1s ease-in-out infinite alternate;
}

.burn {
  animation: animation 0.65s ease-in-out infinite alternate;
  -moz-animation: animation 0.65s ease-in-out infinite alternate;
  -webkit-animation: animation 0.65s ease-in-out infinite alternate;
  -o-animation: animation 0.65s ease-in-out infinite alternate;
}

@keyframes animation {
  0% {
    text-shadow: 0 0 20px #fefcc9, 10px -10px 30px #feec85,
      -20px -20px 40px #ffae34, 20px -40px 50px #ec760c,
      -20px -60px 60px #cd4606, 0 -80px 70px #973716, 10px -90px 80px #451b0e;
  }
  100% {
    text-shadow: 0 0 20px #fefcc9, 10px -10px 30px #fefcc9,
      -20px -20px 40px #feec85, 22px -42px 60px #ffae34,
      -22px -58px 50px #ec760c, 0 -82px 80px #cd4606, 10px -90px 80px #973716;
  }
}

@-moz-keyframes animation {
  0% {
    text-shadow: 0 0 20px #fefcc9, 10px -10px 30px #feec85,
      -20px -20px 40px #ffae34, 20px -40px 50px #ec760c,
      -20px -60px 60px #cd4606, 0 -80px 70px #973716, 10px -90px 80px #451b0e;
  }
  100% {
    text-shadow: 0 0 20px #fefcc9, 10px -10px 30px #fefcc9,
      -20px -20px 40px #feec85, 22px -42px 60px #ffae34,
      -22px -58px 50px #ec760c, 0 -82px 80px #cd4606, 10px -90px 80px #973716;
  }
}

@-webkit-keyframes animation {
  0% {
    text-shadow: 0 0 20px #fefcc9, 10px -10px 30px #feec85,
      -20px -20px 40px #ffae34, 20px -40px 50px #ec760c,
      -20px -60px 60px #cd4606, 0 -80px 70px #973716, 10px -90px 80px #451b0e;
  }
  100% {
    text-shadow: 0 0 20px #fefcc9, 10px -10px 30px #fefcc9,
      -20px -20px 40px #feec85, 22px -42px 60px #ffae34,
      -22px -58px 50px #ec760c, 0 -82px 80px #cd4606, 10px -90px 80px #973716;
  }
}

@-o-keyframes animation {
  0% {
    text-shadow: 0 0 20px #fefcc9, 10px -10px 30px #feec85,
      -20px -20px 40px #ffae34, 20px -40px 50px #ec760c,
      -20px -60px 60px #cd4606, 0 -80px 70px #973716, 10px -90px 80px #451b0e;
  }
  100% {
    text-shadow: 0 0 20px #fefcc9, 10px -10px 30px #fefcc9,
      -20px -20px 40px #feec85, 22px -42px 60px #ffae34,
      -22px -58px 50px #ec760c, 0 -82px 80px #cd4606, 10px -90px 80px #973716;
  }
}
